################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Store-System-/FileContentIndex/a41a201f-9f25-47a3-98ad-9b490d015586.vsidx
/.vs/Store-System-/FileContentIndex/953b2a7b-1e0f-41e1-aa42-6c3fd3962fb3.vsidx
/.vs/Store-System-/FileContentIndex/66c82126-17a8-4362-8f10-b61c1e7ed125.vsidx
