################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Store-System-/FileContentIndex/a41a201f-9f25-47a3-98ad-9b490d015586.vsidx
/.vs/Store-System-/FileContentIndex/953b2a7b-1e0f-41e1-aa42-6c3fd3962fb3.vsidx
/.vs/Store-System-/FileContentIndex/66c82126-17a8-4362-8f10-b61c1e7ed125.vsidx
/.vs/Store-System-/FileContentIndex/fd021cdf-2e55-41e5-a85b-b15a6b5353ac.vsidx
/.vs/Store-System-/FileContentIndex/2e88b50a-9a92-42bb-9a22-85da704599fc.vsidx
/.vs/Store-System-/FileContentIndex/1c9bdec4-a587-4015-8115-d291fc0b28e6.vsidx
/.vs/Store-System-/FileContentIndex/569e4ad1-0810-44f7-bd32-ad81995cecc9.vsidx
/.vs/Store-System-/FileContentIndex/bdad6154-5d45-46f7-9e4a-2a2b70cc191a.vsidx
/.vs/Store-System-/FileContentIndex/fe3e55f7-9b72-449a-bc62-24195a34ae49.vsidx
/.vs/Store-System-/FileContentIndex/0f57ae91-8241-4e00-bbdd-afa59b391721.vsidx
/.vs/Store-System-/FileContentIndex/fd021cdf-2e55-41e5-a85b-b15a6b5353ac.vsidx
/.vs/Store-System-/FileContentIndex/2e88b50a-9a92-42bb-9a22-85da704599fc.vsidx
/.vs/Store-System-/FileContentIndex/f77e9169-597c-4510-928d-a3d3af7ec427.vsidx
/.vs/Store-System-/FileContentIndex/cb263c1b-f64a-457c-afcb-0131e5103e95.vsidx
/.vs/Store-System-/FileContentIndex/264396b8-7726-4437-a6a3-8fe60ed635ff.vsidx
/.vs/Store-System-/FileContentIndex/1c9bdec4-a587-4015-8115-d291fc0b28e6.vsidx
/.vs/Store-System-/FileContentIndex/fd021cdf-2e55-41e5-a85b-b15a6b5353ac.vsidx
/.vs/Store-System-/FileContentIndex/2e88b50a-9a92-42bb-9a22-85da704599fc.vsidx
/.vs/Store-System-/FileContentIndex/fd021cdf-2e55-41e5-a85b-b15a6b5353ac.vsidx
/.vs/Store-System-/FileContentIndex/fd021cdf-2e55-41e5-a85b-b15a6b5353ac.vsidx
/.vs/Store-System-/FileContentIndex/fd021cdf-2e55-41e5-a85b-b15a6b5353ac.vsidx
/.vs/Store-System-/FileContentIndex/2e88b50a-9a92-42bb-9a22-85da704599fc.vsidx
/.vs/Store-System-/FileContentIndex/1c9bdec4-a587-4015-8115-d291fc0b28e6.vsidx
/.vs/Store-System-/FileContentIndex/2e88b50a-9a92-42bb-9a22-85da704599fc.vsidx
/.vs/Store-System-/FileContentIndex/1c9bdec4-a587-4015-8115-d291fc0b28e6.vsidx
